

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 768px) {
    .frame1, .frame2, .frame3, .frame4, .frame5, .frame6, .frame7, .frame8 {
        font-size: 0.6em;
        opacity: 0; 
        color: #FFF;
        text-align: center;
        
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .author{
        /* position:relative; */
        /* display: flex;
        justify-content: center; */
        left:27%;
        padding:8%;
        /* bottom:45%; */
    }



    

/* Media query for smaller screens, such as mobile devices */
/* @media screen and (max-width: 768px) {
    .frame1, .frame2, .frame3, .frame4, .frame5, #contact-form, .frame6, .frame7, .frame8 {
        font-size: 0.6em;
        opacity: 0; 
        color: #FFF;
        text-align: center;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }


/* .frame1, .frame2, .frame3, .frame4, .frame5, #contact-form, .main, .frame6, .frame7, .frame8 {
    opacity: 0; 
    color: #FFF;
} */
